﻿

@{
    ViewBag.Title = "tableSelect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System;
@using System.Data;
@model Excel_Mvc_Demo1.ViewModels.FormdataViewModels
@{
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/superStyle.css">
    <link />
//List<Excel_Mvc_Demo1.Models.Moneda> IstMoney = Model.ToList()[0] as List<Excel_Mvc_Demo1.Models.Moneda>;
    <style>
        #pnlContent {
            background-color:Gray;
            width: 400px;
            height: 200px;
            padding: 10px 10px 10px 10px;
            text-align: center;
        }

            #pnlContent p {
                color: White;
                font-size: xx-large;
            }
    </style>
//List<System.Data.DataTable> IstExcel = Model.ToList()[1] as List<System.Data.DataTable>;
}
<h2>tableSelect</h2>


@using (Html.BeginForm("Mostrar", "Product", FormMethod.Post, new { id = "send_form" }))
{

    if (Model != null)
    {
        // datos cliente
      
            <br />

            <br />
      
        
        @*<div Id="wizard_verticle" class="form_wizard ">*@
                



            // cabecera Factura



                <div style="width:100%; border:1px solid black;" class="form-inline content" id="cabecera_factura">
                    <h2>Cabecera Factura</h2>
                    <div class="form-group form-inline">
                        <label for="numero_factura">Numero Factura:</label>
                        <select id="numero_factura" class="form-group form-control" name="value_num_factura" style="height:30px; width:auto;">
                            <option value="0">Seleccione Nº Factura</option>
                            @foreach (var item in Model.Dt.Columns)
                            {
                                <option id="value_num_factura" data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                            }
                        </select>
                        <input type="text" class="form-control form-group" name="input_numero_factura" id="input_numero_factura" style="width:160px; height:30px;" placeholder="Ingrese Nº Factura"/>
                    </div>
                    <div class="form-group">
                        <label for="fecha_factura">Fecha Factura:</label>

                        <input type="date" class="form-control" id="fecha_factura" value="numxxxx" name="fechaCabecera" style="width:160px; height:30px;">
                    </div>
                    <div class="form-group">
                        <label for="moneda">Moneda:</label>
                        <select id="moneda" class="form-group form-control" name="moneda" style="height:30px; width:auto;">
                            <option value="0">Seleccione Moneda</option>
                            @foreach (var item in Model.Currencies)
                            {
                                <option value="@item.Id" data-content="<span class='label label-success'>Relish</span>">@item.Nombre</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="clausula_compra">Clausula de Compra y Venta:</label>
                        <select id="clausula_compra" class="form-group form-control" name="clausula" style="height:30px; width:auto;">
                            <option value="0">Seleccione Clausula...</option>
                            @foreach (var item in Model.CompraYVenta)
                            {
                                <option value="@item.Id" data-content="<span class='label label-success'>Relish</span>">@item.Sigla</option>
                            }
                        </select>
                        <input type="text" class="form-control" name="txtclausula" id="input_clausula_compra" style="width:160px; height:30px;" placeholder="Ingrese clausula C&V"/>
                    </div>
                    <div class="form-group">
                        <label for="total_factura">Total Factura:</label>
                        <select id="total_factura" class="form-group form-control" name="total_factura_cabecera" style="height:30px;  width:auto;">
                            <option value="0">Seleccione Total</option>
                            @foreach (var item in Model.Dt.Columns)
                            {
                                <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                            }
                        </select>
                        <input type="text" class="form-control" name="txtTotal" value="1,0" min="1,0" id="input_total_factura" style="width:160px; height:30px;" placeholder="Ingrese Total Factura"/>
                    </div>

                </div>
                
               
                <br />
                <br />
                // detalle factura
                <div style="width:100%; border:1px solid black;" class="form-inline" id="detalle_factura">
                    <h2>Detalle Factura</h2>
                    <div class="form-group">
                        <label for="detalle_factura">Codigo Mercaderia:</label>
                        <select id="detalle_factura" class="form-group form-control" name="codigo_mercaderia" style="height:30px;  width:auto;">
                            <option value="0">Seleccione Codigo</option>
                            @foreach (var item in Model.Dt.Columns)
                            {
                                <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="cantidad">Cantidad:</label>
                        <select id="cantidad" class="form-group form-control" name="cantidad_detalle_fact" style="height:30px;  width:auto;">
                            <option value="0">Seleccione Cantidad</option>
                            @foreach (var item in Model.Dt.Columns)
                            {
                                <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="descripcion_factura">Descripcion:</label>
                        <select id="descripcion_factura" class="form-group form-control" name="descripcion_factura" style="height:30px;  width:auto;">
                            <option value="0">Seleccione Descripción</option>
                            @foreach (var item in Model.Dt.Columns)
                            {
                                <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                            }
                        </select>

                    </div>
                    <div class="form-group">
                        <label for="valor_unitario">Valor Unitario:</label>
                        <select id="valor_unitario" class="form-group form-control" name="valor_unitario" style="height:30px;  width:auto;">
                            <option value="0">Seleccione Clausula...</option>
                            @foreach (var item in Model.Dt.Columns)
                            {
                                <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                            }
                        </select>
                    </div>
                </div>
                <br />
                <br />
                <span><input type="checkbox" id="chkControl" class="form-group form-horizontal" value="Sub Detalle" />Ver Sub Detalle</span>


                // sub detalle Factura comercial

                <div style="width:100%; border:1px solid black;" id="pnlContent" class="form-inline">
                    <h2>Sub Detalle Factura</h2>

                    <div class="form-group">
                        <label for="cantidad">Cantidad:</label>
                        <select id="cantidad" class="form-group form-control" name="cantidad_sub_detalle" style="height:30px;  width:auto;">
                            <option value="0">Seleccione Cantidad</option>
                            @foreach (var item in Model.Dt.Columns)
                            {
                                <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                            }
                        </select>
                        <input type="number" min="1" class="form-control" value="1" id="txt_cantidad_sub" style="width:160px; height:30px;" placeholder="Ingrese Cantidad">
                    </div>

                    <div class="form-group">
                        <label for="marca">Marca:</label>
                        <select id="marca" class="form-group form-control" name="marca_sub_detalle" style="height:30px;  width:auto;">
                            <option value="0">Seleccione Marca</option>
                            @foreach (var item in Model.Dt.Columns)
                            {
                                <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="color">Color:</label>
                        <select id="color" class="form-group form-control" name="color_sub_detalle" style="height:30px;  width:auto;">
                            <option value="0">Seleccione Color</option>
                            @foreach (var item in Model.Dt.Columns)
                            {
                                <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="año">Año:</label>
                        <select id="año" class="form-group form-control" name="fecha_sub_detalle" style="height:30px;  width:auto;">
                            <option value="0">Seleccione Año</option>
                            @foreach (var item in Model.Dt.Columns)
                            {
                                <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="año">Modelo:</label>
                        <select id="año" class="form-group form-control" name="modelo" style="height:30px;  width:auto;">
                            <option value="0">Seleccione Modelo</option>
                            @foreach (var item in Model.Dt.Columns)
                            {
                                <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="vin">Vin :</label>
                        <select id="vin" class="form-group form-control" name="vin_sub_detalle" style="height:30px;  width:auto;">
                            <option value="0">Seleccione Clausula...</option>
                            @foreach (var item in Model.Dt.Columns)
                            {
                                <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="num_motor">Numero Motor:</label>
                        <select id="num_motor" class="form-group form-control" name="num_motor_sub_det" style="height:30px;  width:auto;">
                            <option value="0">Seleccione Numero motor</option>
                            @foreach (var item in Model.Dt.Columns)
                            {
                                <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="num_chasis">Numero chasis:</label>
                        <select id="num_chasis" class="form-group form-control" name="num_chasis_sub_detalle" style="height:30px;  width:auto;">
                            <option value="0">Seleccione Numero chasis</option>
                            @foreach (var item in Model.Dt.Columns)
                            {
                                <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="internacion">Tipo Internacion:</label>
                        <select id="internacion" class="form-group form-control" name="internacion_sub_detalle" style="height:30px;  width:auto;">
                            <option value="0">Seleccione Interaccion</option>
                            @foreach (var item in Model.Dt.Columns)
                            {
                                <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                            }
                        </select>
                    </div>

                </div>
                <div>
                    <div><button type="submit" class="btn btn-primary">Ver datos</button></div>
                    <div><a href="#" class="buttonNext btn btn-success">Next</a></div>
                </div>
            @*</div>*@
        

    }

}
            <br />
                <br />


                @*<script>

                        function send() {
                            $("#send_form").on('submit', function () {
                                $.ajax({
                                    url: "~/Product/Mostrar" + $(this).serialize(),
                                    // place the serialized inputs in the ajax call
                                    datatype: 'json',
                                    contentType: "application/json; charset=utf-8",
                                    success: function (data) {
                                        if (data.result == "Error") {
                                            alert(data.message);
                                        }
                                    }

                                });
                            });
                        }
                    </script>*@

               
    


