﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    @RenderPage("javaScript.cshtml")

    <script type="text/javascript">
        function leaveAStepCallback(obj, context) {
            console.debug(context);
            console.log("Leaving step " + context.fromStep + " to go to step " + context.toStep);
            return validateSteps(context.fromStep); // return false to stay on step and true to continue navigation 
        }
        // Your Step validation logic
        function validateSteps(stepnumber) {
            var isStepValid = true;
            // validate step 1
            if (stepnumber == 1) {
                // Your step validation logic
                // set isStepValid = false if has errors
                //$('#send_form').validate({ // initialize the plugin
                //    rules: {
                //        value_num_factura: {
                //            selectcheck: true
                //        }
                //    }
                //});

                //jQuery.validator.addMethod('selectcheck', function (value) {
                //    return (value != '0');
                //}, "campo requerido");

                isStepValid = $("#input_numero_factura").val() !== "";
            }

            // ... 
            return isStepValid;
        }
        function validateAllSteps() {
            var isStepValid = true;
            // all step validation logic     
            return isStepValid;
        }




        $(document).ready(function () {
            $("#step-4").hide();

            $('#send_form').validate({ // initialize the plugin
                rules: {
                    value_num_factura: {
                        selectcheck: true
                    }
                }
            });

           

            jQuery.validator.addMethod('selectcheck', function (value) {
                return (value != '0');
            }, "campo requerido");
        });

        $('#chkControl').click(function () {

            if ($('#chkControl').is(':checked')) {
                $('#step-4').css('display', 'block');
            }
            else {

                $('#step-4').css('display', 'none');
            }
        });

        var Cliente = {
            Rut: "@Model.Rut",
            RazonSocial: "@Model.RazonSocial",
            Sucursal: "@Model.numSucursal"
        };

        $(document).ready(function () {
            // Smart Wizard
            $('#wizard').smartWizard({
                transitionEffect: 'slide',
                labelNext: 'Siguiente', // label for Next button
                labelPrevious: 'Anterior', // label for Previous button
                labelFinish: 'Finalizar',  // label for Finish button   
                onLeaveStep: leaveAStepCallback
            });
        });

    </script>
}

@section Styles{

    @*@Styles.Render("~/Content/demo_style.css")
        @Styles.Render("~/Content/smart_wizard_vertical.css")*@
}
@*<script type="text/javascript" src="~/Content/jquery-3.2.1.js"></script>*@
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.js"></script>


<script type="text/javascript">


   
</script>


@using System;
@using System.Data;
@model Excel_Mvc_Demo1.ViewModels.FormdataViewModels

@*<div id="wizard" class="swMain">*@
<h4>Read Excel File and Display</h4>

@using (Html.BeginForm("Import", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div style="width:100%; height:120px; margin-bottom:20px; border:1px solid black;" class="form-inline form-group">
        <h4 style="text-align:center; ">Ingrese rut del Cliente</h4>
        <div class="form-group" style="margin-left:140px;">
            <label for="rut">Rut Empresa:</label>
            <input type="text" class="form-control" id="rut" name="rut" style="height:30px;" placeholder="Ingrese Rut Cliente">

        </div>
        <div class="form-group">
            <label for="sucursal">Nº Sucursal:</label>
            <input type="text" class="form-control" id="sucursal" name="sucursal" style="height:30px;">
        </div>
        <div class="form-group ">
            <label for="rsocial">Razon Social:</label>
            <input type="text" class="form-control" id="rsocial" name="rsocial" style="height:30px;">
        </div>

    </div>
   
    <h3>Seleccione El Archivo Excel</h3>
    <div class="form-group">
        <div class="form-group">
            <label class="text-info" id="mensaje">Upload Excel File Please</label>
            <input type="file" class="form-control" name="uploadfile" id="uploadfile" />
        </div>

        <div class="form-group col-lg-offset-0" style="width:85px;">
            <label for="fila">Nº Cabecera </label>
            <input type="text" class="form-control" id="fila" name="fila">
        </div>
        <div class="form-group">
            <input type="submit" value="Cargar Archivo" id="btnCargar" class="btn btn-primary" />
        </div>
    </div>
}

<table align="center" id="table" border="1" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <div id="wizard" class="swMain">

                <ul class="anchor form-group form-inline" style="margin-left:280px;" >
                    <li>
                        <a href="#step-1" class="selected" isdone="1" rel="1">
                            <label class="stepNumber">1</label>
                            <span class="stepDesc">
                                Cabecera<br />
                                <small>Cabecera Factura</small>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-2" class="disabled" isdone="0" rel="2">
                            <label class="stepNumber">2</label>
                            <span class="stepDesc">
                                Detalle<br />
                                <small>Detalle Factura</small>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-3" class="disabled" isdone="0" rel="3">
                            <label class="stepNumber">3</label>
                            <span class="stepDesc">
                                Sub-Detalle<br />
                                <small>Sub Detalle Factura</small>
                            </span>
                        </a>
                    </li>

                </ul>
              
                @using (Html.BeginForm("Mostrar", "Product", FormMethod.Post, new { id = "send_form" }))
                {

                    if (Model.Dt != null  && Model.FilePath != null && Model != null)
                    {

                        <div class="stepContainer">
                            <input type="hidden" id="rut_hiden" name="rut_hiden" value="@TempData["ruttt"].ToString()" />
                            <input type="hidden" id="sucursal_hiden" name="sucursal_hiden" value="@TempData["sucursal"]" />
                            <input type="hidden" id="file_name" name="file_name" value="@Model.FilePath" />

                            <div style="display:block; border:1px solid black;" class="content form-inline" id="step-1">
                                <h4>Cabecera Factura</h4>
                                <div class="caja1">
                                    <div class="form-group form-inline">
                                        <label for="numero_factura">Numero Factura:</label>
                                        <select id="numero_factura"  class="form-group form-control" name="value_num_factura" style="height:30px; width:auto;" required>
                                            <option value="0">Seleccione Nº Factura</option>
                                            @foreach (var item in Model.Dt.Columns)
                                            {
                                                if (string.Equals(item.ToString(), "numero factura", StringComparison.OrdinalIgnoreCase))
                                                {
                                                    //string.Equals(val, "astringvalue", StringComparison.OrdinalIgnoreCase)
                                                    <option id="value_num_factura" selected="selected" data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                                }
                                                else
                                                {
                                                    <option id="value_num_factura" data-content="<span class='label label-success'>Relish</span>">  @item.ToString() </option>
                                                }
                                            }
                                        </select>
                                        <input type="text" class="form-control form-group" name="input_numero_factura" id="input_numero_factura" style="width:160px; height:30px;" placeholder="Ingrese Nº Factura" />
                                    </div>
                                    <div class="form-group">
                                        <label style="margin-left:29px;" for="fecha_factura">Fecha Factura:</label>

                                        <input type="date" class="form-control" id="fecha_factura" value="numxxxx" name="fechaCabecera" style="width:160px; height:30px;">
                                    </div>
                                    <div class="form-group">
                                        <label for="moneda">Moneda:</label>
                                        @*<select id="moneda" class="form-group form-control" name="moneda" style="height:30px; width:auto;">
                                            <option value="0">Seleccione Moneda</option>
                                            @foreach (var item in Model.Currencies)
                                            {
                                                <option value="@item.Id" data-content="<span class='label label-success'>Relish</span>">@item.Nombre</option>
                                            }
                                        </select>*@
                                    </div>
                                </div>
                                <div class="caja2" style="margin-top:20px;">
                                    <div class="form-group">
                                        <label for="clausula_compra">Clausula de Compra y Venta:</label>
                                        @*<select id="clausula_compra" class="form-group form-control" name="clausula" style="height:30px; width:auto;">
                                            <option value="0">Seleccione Clausula...</option>
                                            @foreach (var item in Model.CompraYVenta)
                                            {
                                                <option value="@item.Id" data-content="<span class='label label-success'>Relish</span>">@item.Sigla</option>
                                            }
                                        </select>*@
                                        <input type="text" class="form-control" name="txtclausula" id="input_clausula_compra" style="width:160px; height:30px;" placeholder="Clausula C&V" />
                                    </div>
                                    <div class="form-group" style="margin-left:45px;">
                                        <label for="total_factura">Total Factura:</label>
                                        <select id="total_factura" class="form-group form-control" name="total_factura_cabecera" style="height:30px;  width:auto;">
                                            <option value="0">Seleccione Total</option>
                                            @foreach (var item in Model.Dt.Columns)
                                            {
                                                <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                            }
                                        </select>
                                        <input type="text" class="form-control" name="txtTotal" value="1,0" min="1,0" id="input_total_factura" style="width:160px; height:30px;" placeholder="Ingrese Total Factura" />
                                    </div>
                                </div>

                            </div>

                            <div style="border:1px solid black;" class="form-inline" id="step-2">
                                @*<h2>Detalle Factura</h2>*@
                                <div class="form-group" style="margin-left:10px">
                                    <label for="detalle_factura">Codigo Mercaderia:</label>
                                    <select id="detalle_factura" class="form-group form-control" name="codigo_mercaderia" style="height:30px;  width:auto;">
                                        <option value="0">Seleccione Codigo</option>
                                        @foreach (var item in Model.Dt.Columns)
                                        {
                                            if (string.Equals(item.ToString(), "codigo Mercaderia", StringComparison.OrdinalIgnoreCase))
                                            {
                                                <option selected="selected" data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                            }
                                            else
                                            {
                                                <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group" style="margin-left:10px">
                                    <label for="cantidad">Cantidad:</label>
                                    <select id="cantidad" class="form-group form-control" name="cantidad_detalle_fact" style="height:30px;  width:auto;">
                                        <option value="0">Seleccione Cantidad</option>
                                        @foreach (var item in Model.Dt.Columns)
                                        {
                                            if (string.Equals(item.ToString(), "cantidad", StringComparison.OrdinalIgnoreCase))
                                            {
                                                <option selected="selected" data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                            }
                                            else
                                            {
                                                <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group" style="margin-left:10px">
                                    <label for="descripcion_factura">Descripcion:</label>
                                    <select id="descripcion_factura" class="form-group form-control" name="descripcion_factura" style="height:30px;  width:auto;">
                                        <option value="0">Seleccione Descripción</option>
                                        @foreach (var item in Model.Dt.Columns)
                                        {
                                            if (string.Equals(item.ToString(), "descripcion", StringComparison.OrdinalIgnoreCase))
                                            {
                                                <option selected="selected" data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                            }
                                            else
                                            {
                                                <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                            }
                                        }
                                    </select>

                                </div>
                                <div class="form-group" style="margin-left:10px">
                                    <label for="valor_unitario">Valor Unitario:</label>
                                    <select id="valor_unitario" class="form-group form-control" name="valor_unitario" style="height:30px;  width:auto;">
                                        <option value="0">Seleccione valor...</option>
                                        @foreach (var item in Model.Dt.Columns)
                                        {
                                            if (string.Equals(item.ToString(), "valor unitario", StringComparison.OrdinalIgnoreCase))
                                            {
                                                <option selected="selected" data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                            }
                                            else
                                            {
                                                <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                            }
                                        }
                                    </select>
                                </div>
                               @* <div style="margin-top:20px; margin-left:40px; width:100px;"><button type="submit" class="btn btn-primary">Ver datos</button></div>*@
                            </div>

                            @*<span><input type="checkbox" id="chkControl" class="form-group form-horizontal" value="Sub Detalle" />Ver Sub Detalle</span>*@


                            @*// sub detalle Factura comercial*@

                            <div style="display:none; border:1px solid black;" id="step-3" class="form-inline">
                                <div style="margin-top:10px; margin-left:30px; margin-bottom:20px;">
                                    @*<h4>Sub Detalle Factura</h4>*@
                                    <div class="form-group">
                                        <label for="cantidad">Cantidad:</label>
                                        <select id="cantidad" class="form-group form-control" name="cantidad_sub_detalle" style="height:30px;  width:auto;">
                                            <option value="0">Seleccione Cantidad</option>
                                            @foreach (var item in Model.Dt.Columns)
                                            {
                                                if (string.Equals(item.ToString(), "cantidad", StringComparison.OrdinalIgnoreCase))
                                                {
                                                    <option selected="selected" data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                                }
                                                else
                                                {
                                                    <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                                }
                                            }
                                        </select>
                                        <input type="number" min="1" class="form-control" value="1" id="txt_cantidad_sub" style="width:160px; height:30px;" placeholder="Ingrese Cantidad">
                                    </div>

                                    <div class="form-group" style="margin-left:15px">
                                        <label for="marca">Marca:</label>
                                        <select id="marca" class="form-group form-control" name="marca_sub_detalle" style="height:30px;  width:auto;">
                                            <option value="0">Seleccione Marca</option>
                                            @foreach (var item in Model.Dt.Columns)
                                            {
                                                if (string.Equals(item.ToString(), "Marca", StringComparison.OrdinalIgnoreCase))
                                                {
                                                    <option selected="selected" data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                                }
                                                else
                                                {
                                                    <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                                }
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group" style="margin-left:15px">
                                        <label for="color">Color:</label>
                                        <select id="color" class="form-group form-control" name="color_sub_detalle" style="height:30px;  width:auto;">
                                            <option value="0">Seleccione Color</option>
                                            @foreach (var item in Model.Dt.Columns)
                                            {
                                                if (string.Equals(item.ToString(), "Nombre Color", StringComparison.OrdinalIgnoreCase))
                                                {
                                                    <option selected="selected" data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                                }
                                                else
                                                {
                                                    <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group" style="margin-left:15px">
                                        <label for="año">Año:</label>
                                        <select id="año" class="form-group form-control" name="fecha_sub_detalle" style="height:30px;  width:auto;">
                                            <option value="0">Seleccione Año</option>
                                            @foreach (var item in Model.Dt.Columns)
                                            {
                                                if (string.Equals(item.ToString(), "Año", StringComparison.OrdinalIgnoreCase))
                                                {
                                                    <option selected="selected" data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                                }
                                                else
                                                {
                                                    <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                                }

                                            }
                                        </select>
                                    </div>
                                </div>
                                <div style="margin-top:10px; margin-left:30px; margin-bottom:20px;">
                                    <div class="form-group">
                                        <label for="año">Modelo:</label>
                                        <select id="año" class="form-group form-control" name="modelo" style="height:30px;  width:auto;">
                                            <option value="0">Seleccione Modelo</option>
                                            @foreach (var item in Model.Dt.Columns)
                                            {
                                                if (string.Equals(item.ToString(), "Modelo", StringComparison.OrdinalIgnoreCase))
                                                {
                                                    <option selected="selected" data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                                }
                                                else
                                                {
                                                    <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group" style="margin-left:15px">
                                        <label for="vin">Vin :</label>
                                        <select id="vin" class="form-group form-control" name="vin_sub_detalle" style="height:30px;  width:auto;">
                                            <option value="0">Seleccione Clausula...</option>
                                            @foreach (var item in Model.Dt.Columns)
                                            {
                                                if (string.Equals(item.ToString(), "Numero VIN", StringComparison.OrdinalIgnoreCase))
                                                {
                                                    <option selected="selected" data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                                }
                                                else
                                                {
                                                    <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group" style="margin-left:15px">
                                        <label for="num_motor">Numero Motor:</label>
                                        <select id="num_motor" class="form-group form-control" name="num_motor_sub_det" style="height:30px;  width:auto;">
                                            <option value="0">Seleccione Numero motor</option>
                                            @foreach (var item in Model.Dt.Columns)
                                            {
                                                if (string.Equals(item.ToString(), "Numrero Motor", StringComparison.OrdinalIgnoreCase))
                                                {
                                                    <option selected="selected" data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                                }
                                                else
                                                {
                                                    <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group" style="margin-left:15px">
                                        <label for="num_chasis">Numero chasis:</label>
                                        <select id="num_chasis" class="form-group form-control" name="num_chasis_sub_detalle" style="height:30px;  width:auto;">
                                            <option value="0">Seleccione Numero chasis</option>
                                            @foreach (var item in Model.Dt.Columns)
                                            {
                                                if (string.Equals(item.ToString(), "Numero Chasis", StringComparison.OrdinalIgnoreCase))
                                                {
                                                    <option selected="selected" data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                                }
                                                else
                                                {
                                                    <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-left:29px">
                                    <label for="internacion">Tipo Internacion:</label>
                                    <select id="internacion" class="form-group form-control" name="internacion_sub_detalle" style="height:30px;  width:auto;">
                                        <option value="0">Seleccione Interaccion</option>
                                        @foreach (var item in Model.Dt.Columns)
                                        {
                                            if (string.Equals(item.ToString(), "Tramite", StringComparison.OrdinalIgnoreCase))
                                            {
                                                <option selected="selected" data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                            }
                                            else
                                            {
                                                <option data-content="<span class='label label-success'>Relish</span>">@item.ToString()</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3 form-group">
                                    <div><button type="submit" class="btn btn-primary">Ver datos</button></div>
                                    @*<button id="btnMostrarDatos" class="btn btn-primary">Mostrar Datos</button>*@
                                </div>
                            </div>
                            <div class="msgBox">
                                <div class="content"></div>
                                <a href="#" class="close">x</a>
                                <div class="loader"></div>
                                <a href="#" class="buttonFinish buttonDisabled" id="">Listar</a>
                                <a href="#" class="buttonNext" id="btn_siguiente"></a>
                                <a href="#" class="buttonPrevious buttonDisabled"></a>
                            </div>
                        </div>
                        
                    }
                }
            </div>
             
        </td>
    </tr>
</table>

@*<div><button type="submit" class="btn btn-primary">Ver datos</button></div>
<div>
    <a href="#" class="buttonNext btn btn-success">Next</a>
</div>*@