﻿@*<link rel="stylesheet" href="/resources/demos/style.css">*@

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.1/jquery.autocomplete.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.1/jquery.autocomplete.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.css"></script>*@


<script>

    //var cliente = class {
    //    constructor(Nombre, Rut, Sucursal) {
    //        this.Nombre = Nombre;
    //        this.Rut = Rut;
    //        this.Sucursal = Sucursal;
    //    }
    //}

    //var rut_cliente = "";


    //function SubmitButtonOnclick() {

    //    var rut = $("#rut").val();
    //    var num_suc = document.getElementById("num_suc").values();
    //    var invo_date = document.getElementById("invo_date").values();
    //    var invo_number = document.getElementById("invo_number").values();
    //    var Invo_currency_n_c = document.getElementById("Invo_currency_n_c").values();
    //    var Prosee_date = document.getElementById("Prosee_date").values();
    //    var net_value = document.getElementById("net_value").values();
    //    var z_descript = document.getElementById("z_descript").values();
    //    var line_Id = document.getElementById("line_Id").values();
    //    var pakage_qyt = document.getElementById("pakage_qyt").values();
    //    var numero_vin = document.getElementById("numero_vin").values();
    //    var modelo = document.getElementById("modelo").values();
    //    var numero_motor = document.getElementById("numero_motor").values();
    //    var key_number = document.getElementById("key_number").values();
    //    var model_year = document.getElementById("model_year").values();
    //    var color_nombre = document.getElementById("color_nombre").values();
    //    var codigo_sap = document.getElementById("codigo_sap").values();
    //    var seudonimo_sap = document.getElementById("seudonimo_sap").values();
    //    var tramite = document.getElementById("tramite").values();

    //}


    //var $rut_empresa = $("input#rut");

    //var rut_auto_complet = {

    //    minLength: 3,
    //    source: function (request, response) {
    //        $.ajax({
    //            type: "POST",
    //            url: "../../../Product/Buscar",
    //            data: JSON.stringify({ patron: request.term }),
    //            contentType: "application/json; charset=utf-8",
    //            dataType: "json",
    //            success: function (data) {
    //                response(data.Data.map(function (obj) {
    //                    return {
    //                        label: obj.Label,
    //                        rut: obj.Id2,
    //                        sucursal: obj.NumSucursal,
    //                        nombrerazon: obj.RazonS,
    //                        value: obj.Id2
    //                    };
    //                }));
    //            }
    //        });
    //    },
    //    select: function (event, ui) {
    //        // Se limpia la tabla para mostrar los documentos actuales.
    //        //oDocumentos.clear();
    //        console.log(ui);
    //        console.log(ui.item.label);
    //        ui.item.label = "";
    //        $("input#rut").text("");
    //        $("input#rut").val(ui.item.rut);
    //        $("input#sucursal").val(ui.item.sucursal);
    //        $("input#rsocial").val(ui.item.nombrerazon);
    //        rut_cliente = ui.item.rut;

    //        //var c = new cliente(
    //        //    ui.item.label, ui.item.topolino, 88
    //        //    );
    //    }
    //}

    //function corregir_rut() {
    //    $("input#rut").val("");
    //    $("input#rut").val(rut_cliente);
    //}

    //function autocompletar() {
    //    $rut_empresa.autocomplete(rut_auto_complet);
    //    console.log(rut_cliente);
    //    corregir_rut();
    //}
    //autocompletar();

    //$(function () {
    //    document.getElementById("rut").value = Cliente.Rut;
    //    document.getElementById("rsocial").value = Cliente.RazonSocial;
    //    document.getElementById("sucursal").value = Cliente.Sucursal;
    //});

    //$(document).ready(function(){
    //    $("#send_form").validate({
    //    rules: {
    //            numero_factura:{
    //                selectcheck: true
    //            }
    //    }
    //});
    //    Jquery.validator.addMethod('selectcheck', function (value) {
    //    return (value == '0');
    //}, 'Seleccione una opcion');
    //});

    //$.validator.addMethod("valueNotEquals", function (value, element, arg) {
    //    return arg != value;
    //}, "Value must not equal arg.");

    // configure your validation
    $("#btn_siguiente").click(function () {
        alert("hola");
     })
    


</script>