﻿
@{
    ViewBag.Title = "PreViewExcel";
    Layout = "~/Views/Shared/_Layout.cshtml";
  
}


@section Styles
{
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-2.2.4/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/b-print-1.3.1/datatables.min.css" />
<style type="text/css">
    .contenedor-tablass {
        overflow: scroll;
        overflow-y: hidden;
    }
</style>
}

@section Scripts
{
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jq-2.2.4/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/b-print-1.3.1/datatables.min.js"></script>

    <script type="text/javascript">
        $("table").dataTable({
            "dom": "Bfrtip",
            "buttons": ["pdf", "print"],
            "scrollX": true
        });
    </script>
}


@model System.Data.DataTable
 @using System.Data;
    
    <h2>tableSelect</h2>
@using (Html.BeginForm("InseertRegister", "Product", FormMethod.Post))
{
    @*@if (Model != null)
    {*@
    <div class="contenedor-tabla">
      
        <table class="table table-responsive table-bordered">

            <thead>
                <tr>
                    @foreach (DataColumn col in Model.Columns)
                    {

                            <th>@col.ColumnName</th>
                    }
                </tr>
             
            </thead>

            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        @foreach (DataColumn col in Model.Columns)
                        {
                            <td>@row[col.ColumnName]</td>
                        }
                    </tr>
                }


            </tbody>
        </table>
        <div>
            <button type="submit" class="btn btn-primary warning" value="">Insertar Registros a Base de Datos</button>
        </div>
    </div>
    }

@*}*@
    
    
