﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.conte{
    position:center;
    width: 100%;
    height:100%;
    border:2px solid;
    border-color:aliceblue;
    visibility:hidden;
}
.contehijo{
    width: 100%;
    height:30%;
    border:3px solid;
    border-color:bisque;
}
.div{
    width:14%;
    float:left;
     border:1px solid;
    border-color:bisque;
    margin-right:25px;

}
.label{
   margin-right:2px;
   width:5px;
}
.input{
    width:10px;
}
label{

}