﻿<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/Css/demo_style.css" />
    @*<link rel="stylesheet" href="~/Content/smart_wizard_vertical.css" />*@
    <link rel="stylesheet" href="~/Content/Css/smart_wizard.css" />

    <link rel="stylesheet" href="~/Content/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css"/>
    
   
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("styles", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
              
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
            
        </div>
    </div>
    <div class="container body-content" style="height:10px;">
        @RenderBody()
        @*<hr />*@
        <footer>
            @*<p>&copy; @DateTime.Now.Year - www.Browne.cl Insert Invoice</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @*<script type="text/javascript" src="~/Content/jquery-2.0.0.min.js"></script>*@
    @*<script type="text/javascript" src="~/Content/jquery.min.js"></script>*@
    <script type="text/javascript" src="~/Content/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Content/Js/jquery.validate.js"></script>
    @*<script type="text/javascript" src="~/Content/jquery-ui.js"></script>*@
    <script type="text/javascript" src="~/Content/jquery.smartWizard.js"></script>
    
    
    @RenderSection("scripts", required: false)

</body>
</html>
